/**
 * @file
 * Block Styling
 */

.block {
    /* Block wrapper */
    margin-bottom: 1.5em;
    background-color: #E4E4E4;
}

.block.first {
    /* The first block in the region */
}

.block.last {
    /* The last block in the region */
}

.block.odd {
    /* Zebra striping for each block in the region */
}

.block.even {
    /* Zebra striping for each block in the region */
}

h2.block-title {
    /* Block title */
}

#block-aggregator-category-1 {
    /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 {
    /* Block for the latest news items in the first feed */
}

#block-block-1 {
    /* First block created with "Add block" link */
}

#block-blog-recent {
    /* "Recent blog posts" block */
}

#block-book-navigation {
    /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent {
    /* "Recent comments" block */
}

#block-forum-active {
    /* "Active forum topics" block */
}

#block-forum-new {
    /* "New forum topics" block */
}

#block-locale-language {
    /* Language switcher block */
}

#block-menu-menu-NAME {
    /* Custom menu block */
}

#block-node-recent {
    /* "Recent content" block */
}

#block-node-syndicate {
    /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent {
    /* "Most recent poll" block */
}

#block-profile-author-information {
    /* "Author information" block for the profile of the page's author */
}

#block-search-form {
    /* "Search form" block */
}

#block-shortcut-shortcuts {
    /* "Shortcuts" block */
}

#block-statistics-popular {
    /* "Popular content" block */
}

#block-system-main-menu {
    /* "Main menu" block */
}

#block-menu-menu-main-menu-custom {
    width: 100px;

}

#block-system-management {
    /* "Management" block for Drupal management menu */
}

#block-system-navigation {
    /* "Navigation" block for Drupal navigation menu */
}

#block-menu-menu-navigation-custom {
    border:2px solid black;
    border-radius:25px;
    background-color: #CCC;
    color: #FFF;
}

#block-menu-menu-navigation-custom h2{
    margin-left: 10px;
    border-bottom: 1px solid #FFF;
    width: 200px;
}

#block-menu-menu-navigation-custom ul li.leaf a,#block-menu-menu-navigation-custom ul li.leaf a:visited, #block-menu-menu-navigation-custom ul li.leaf a:link  {
    color: #FFF;
    text-decoration: none;
}

#block-menu-menu-navigation-custom ul li.leaf{
    color: #FFF;
    text-decoration: none;
    list-style-image: none;
    list-style-type: none;
}

#block-system-user-menu {
    /* "User menu" block for Drupal user menu */
}

#block-system-help {
    /* "System help" block */
}

#block-system-main {
    /* "Main page content" block */
}

#block-system-powered-by {
    display: none;
}

#block-user-login {
    /* "User login form" block */
    padding-left: 5px;
}
#block-user-login a:visited {
    color: blue;
}

#secondary-menu a:link, #secondary-menu a:visited {
    color: #ffffff;
}

#block-user-new {
    /* "Who's new" block for a list of the newest users */
}

#block-user-online {
    /* "Who's online" block for a list of the online users */
}

#block-views-top-10-viewed-books-block a:link, #block-views-top-10-viewed-books-block a:visited, #block-views-top-10-borrowed-books-block a:link, #block-views-top-10-borrowed-books-block a:visited {
    color: #000000;
}

.views-view-grid {
    border: 0px;
}